@import "../../styles/variables";

.Home {
  background-color: $bg-color;
  height: 100vh;
  margin: -8px;
  display: grid;
  grid-template-columns: 15.625rem 1fr;
  grid-column-gap: 2rem;
  font-size: 1rem;
  overflow: hidden;
  font-family: "Syne", sans-serif;
  .controls {
    background-color: $bg-white;
    padding: 1rem;
    text-align: center;
    &Button {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem;
    }
  }

  .container {
    height: 100%;
    &Body {
      background-color: $bg-white;
      height: 100%;
      margin: 3rem;
    }
  }
}
