.Modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  &Content {
    background-color: white;
    height: 500px;
    width: 600px;
    .header {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      align-items: center;
    }
    .body {
      padding: 1rem;
    }
  }
}
